{% extends "Fluxx/base.html" %}
{% load widget_tweaks %}
  {% block content %}
  <div class="form">
    <form method="post">
        {% csrf_token %}
        <input type="text" class="form-control" placeholder="username" name="username">
        <input type="password" class="form-control my-4" placeholder="password" name="password" >
        <button class="btn btn-lg btn-primary btn-block">Login</button>
    </form>
    <a href="{% url 'register' %}">Sign up</a>
  </div>
    
  {% endblock content %}